.footer {
  background-color: $color-grey-light;
  padding: $spacing-xl 0;
  // margin-top: $spacing-xxl;
  text-align: center;
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;
    background-color: #00955e61;
  }
  
  .container {
    @include flex(column, center, center);
  }
  
  &__legal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-lg;
    padding-top: $spacing-lg;
    border-top: 1px solid $color-grey;
    width: 100%;
    
    @include respond-to-max(md) {
      flex-direction: column;
      align-items: center;
      
      .small {
        margin-bottom: $spacing-sm;
      }
    }
    
    .small {
      color: $color-grey-dark;
      text-align: center;
      padding: 0 $spacing-md;
      margin: 0;
    }
  }
  
  &__links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0 $spacing-sm;
      
      &:last-child {
        margin-right: 0;
      }
    }
    
    a {
      color: $color-grey-dark;
      font-size: $font-size-small;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }
    
    @include respond-to-max(md) {
      flex-wrap: wrap;
      margin-bottom: $spacing-sm;
      
      li {
        margin: 0 $spacing-xs $spacing-xs;
      }
    }
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-lg;
    gap: $spacing-md;
  }
} 