.team {
  padding: $spacing-xl 0;
  background-color: $color-grey-light;
  
  .section-title {
    margin-bottom: $spacing-lg;
    background-color: #00955E;
    color: $color-white;
    padding: 15px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius-sm;
    
    &:after {
      display: none; // Remove the underline if it exists
    }
  }
  
  &__description {
    max-width: 800px;
    margin: 0 auto $spacing-xl;
    text-align: center;
    font-size: $font-size-small;
  }
}

.team-members {
  display: flex;
  justify-content: center;
  gap: $spacing-xl;
  width: 90%;
  margin: 0 auto;
  
  @include respond-to-max(lg) {
    flex-direction: column;
    align-items: center;
  }
}

.team-member {
  border-radius: $border-radius-md;
  overflow: hidden;
  transition: transform $transition-duration ease;
  display: flex;
  flex-direction: column;
  
  &:nth-child(1), &:nth-child(3) {
    width: 25%;
    
    @include respond-to-max(lg) {
      width: 100%;
    }
  }
  
  &:nth-child(2) {
    width: 40%;
    
    @include respond-to-max(lg) {
      width: 100%;
    }
  }
  
  &:hover {
    transform: translateY(-5px);
  }
  
  &__image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    img {
      width: 250px;
      height: auto;
      object-fit: contain;
      display: block;
      
      @include respond-to-max(lg) {
        width: 100%;
        max-width: 250px;
      }
    }
  }
  
  &__info {
    padding: $spacing-md;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h4 {
      margin-bottom: $spacing-sm;
      color: $color-primary;
      font-size: $font-size-base;
    }
    
    p {
      font-size: $font-size-small;
      margin-bottom: $spacing-md;
    }
  }
  
  &__quote {
    font-style: italic;
    position: relative;
    
    &:before {
      content: '\201C';
      font-size: 2.5em;
      color: rgba($color-primary, 0.2);
      position: absolute;
      left: -10px;
      top: -10px;
    }
  }
  
  &__contact {
    margin-top: auto;
    font-size: $font-size-small;
    color: $color-grey-dark;
    // border-top: 1px solid $color-grey;
    padding-top: $spacing-sm;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
      color: $color-primary;
      text-decoration: none;
      font-weight: $font-weight-bold;
      display: inline-block;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
} 